<h1>確認画面</h1>
<%= form_with(model: @feed, url: feed_path, local: true) do |f| %>
  <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
  <%= f.hidden_field :image_cache %>
  <%= f.submit "投稿する" %>
<% end %>

<%= form_with(model: @feed, url:new_feed_path, local: true, method :"get")do |f| %>
<%= f.hidden_field :image_cache %>
<%= f.submit "戻る", name: "back" %>
<%=  %>
<%=  %>
<%=  %>
