<%= form_with(model: @blog, local:true, url: choose_new_or_edit )do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>errors.</h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="blog_title">
  <%=f.label :title  %>
  <%=f.text_field :title  %>
</div>

<div class="blog_title">
  <%= f.label :content %>
  <%= f.text_field :content %>
</div>
<%= f.submit %>
<% end %>

<%= link_to "ブログ一覧画面にもどる", blogs_path %>
